
@media screen and (min-width: 768px) {
    .jumbotron {
	padding: 100px 200px;
    }
}
.jumbotron {
    margin: 0;
}
.jumbotron li {
    font-size: 21px;
    margin-bottom: 15px;
}
.jumbotron.brand {
    padding: 200px;
    background: url(../img/beachcreatures-bw-crop-blur.jpg) center center;
    color: #efefef;
    text-shadow: 2px 2px #3f3f3f;
}
.jumbotron.brand a {
    color: #efefef;
    font-weight: bold;
    text-shadow: 2px 2px #3f3f3f;
}

.no-top {
    margin-top: 0;
}
.bg-primary {
    background: mintcream;
}

.bg-primary p, .bg-primary li {
    color: #666;
}

.bg-white {background: ghostwhite;}

.navbar-brand {
    background: seagreen;
}
.navbar-default .navbar-nav > li > a:hover {
    color: grey;
}
.services-box figure {
    margin: 0;
    position: relative;
}
.services-box figure img {
    max-width: 100%;
    display: block;
    position: relative;
    /* width: 320px; */
    /* height: 240px; */
}
.services-box figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background: #2c3f52;
    color: #ed4e6e;
    height: 100%;
    width: 80%;
    opacity: 0;
    backface-visibility: hidden;
    transform-origin: 0 0;
    transform: rotateY(-90deg);
    transition: transform 0.4s, opacity 0.1s 0.3s;
}
.no-touch .services-box figure:hover figcaption,
.services-box figure.cs-hover figcaption {
    opacity: 1;
    transform: rotateY(0deg);
    transition: transform 0.4s, opacity 0.1s;
}
.bottom-ease {
    padding-bottom: 15px;
}