<footer class="flex-item footer">
  <div class="wrapper">
    <div class="text-center">
      Copyright &copy; 2017 Tamara Temple Web Development
    </div>
    <div class="text-center">
      View source on
      <%= partial("components/external_link", locals: {
         text: "Github",
         link: "https://github.com/tamouse/www.tamouse.org",
         title: "Source for www.tamouse.org"
         }) %>
    </div>
  </div>
</footer>
