<section id="features" class="container services">
  <div class="page-header">
    <h2 class="text-center">Some of the sites you'll find under <em>{{site.title}}</em> include:</h2>
  </div>
  {% for boxrow in site.data.boxes %}<div class="row">
    {% for box in boxrow %}
    <div class="col-sm-4 bottom-ease">
      <div class="services-box">
	<figure>
	  <div><img src="img/{{box.name}}.jpg" alt="name" /></div>
	  <figcaption>
	    <h2>{{box.title}}</h2>
	    <p>{{box.description}}</p>
	    <p>
	      <a class="btn btn-default"
		 href="http://{{box.name}}.tamouse.org"
		 target="_blank">
		Go <i class="fa fa-arrow-right"></i>
	      </a>
	    </p>
	  </figcaption>
	</figure>
      </div>
    </div>
    {% endfor %}
  </div>{% endfor %}
</section>
