// Main.scss -- imports all the other bits of sass/scss to compile to /assets/css/main.css
// ------------------------------------------------------------------------------------------

@import "my_variables";
@import "bootstrap";
@import "font-awesome";

// Local style variations
// ------------------------------

body {
    padding-top: $navbar-height;
    padding-bottom: 0;
    @media (min-width: $screen-xs-min) {
	padding-top: $navbar-height;
	padding-bottom: $navbar-height;
    }
}

.page-footer {
    display: none;
    @media (min-width: $screen-xs-min) {
	display: block;
    }
}
.post-excerpt {
    margin: 0 0 10px 0;
    padding: 0;
    height: 100px;
    overflow-y: hidden;
}

.front-page {
    .jumbotron {
	display: none;
	@media (min-width: $screen-xs-min) {
	    display: block;
	    background-color: $brand-primary;
	    color: $gray-lighter;
	    text-shadow: 2px 2px 2px $gray-darker;

	    a,
	    a:visited,
	    a:active {
		color: $gray-lighter;
		text-decoration: underline;
	    }
	    a:hover {
		color: darken($gray-lighter, 15%);
		text-decoration: underline;
	    }

	}
    }
    .page-header {
	display: none;
	@media (min-width: $screen-xs-min) {
	    display: block;
	}
    }


    .feature {
	padding: 20px 0;
	.panel-body { height: inherit;}
	.panel-footer a.btn { width: 200px; }
	@media (min-width: $screen-sm-min) {
	    padding: 60px 0;
	    .panel-body { height: 220px; }
	}
	@media (min-width: $screen-md-min) {
	    .panel-body { height: 150px; }
	}
    }

    .secondary-feature {
	display: none;
	@media (min-width: $screen-xs-min) {
	    display: inherit;
	    padding: 20px 0;
	    background-color: $brand-primary;
	    color: $gray-lighter;
	    a,
	    a:hover,
	    a:visited {
		color: $gray-lighter;
	    }
	    a:hover {
		color: darken($gray-lighter, 15%);
	    }
	    @media (min-width: $screen-sm-min) {
		padding: 60px;
	    }
	}
    }


}
